/* BOOTSTRAP */
@import "/node_modules/bootstrap/dist/css/bootstrap.css";

/* GOOGLE FONT - POPPINS */
@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ---------- GENERAL ---------- */
:root {
  /* colors */
  --light-green-color: rgb(39, 201, 39);
  --green-color: rgb(27, 134, 27);

  /* shadow */
  --dark-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.07);
  --dark-green-shadow: 0px 4px 26px 0px rgba(27, 134, 27, 0.25);

  /* transition */
  --transition-ease: all 0.3s ease;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
}

a {
  text-decoration: none;
}

.capitalize {
  text-transform: capitalize;
}

.btn:active {
  transform: scale(0.95);
}

textarea {
  resize: none;
}

/* SWIPER */
.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: var(--transition-ease);
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--light-green-color) !important;
  opacity: 0 !important;
  transition: var(--transition-ease);
}

.swiper-pagination {
  opacity: 0 !important;
  transition: var(--transition-ease);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active.swiper-pagination-bullet-active-main {
  background-color: var(--light-green-color);
}

.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next,
.swiper:hover .swiper-pagination {
  opacity: 1 !important;
  transition: var(--transition-ease);
}

.swiper:hover .swiper-button-prev.swiper-button-disabled,
.swiper:hover .swiper-button-next.swiper-button-disabled {
  opacity: 0.35 !important;
}

.swiper:hover .swiper-slide img {
  filter: brightness(85%);
  transition: var(--transition-ease);
}

/* -------------------- APP (SINGLE) COMPONENTS -------------------- */
/* ---------- HEADER ---------- */
header {
  background-color: var(--light-green-color);
}

/* Onboarding component */
.onboarding .onboarding-btn {
  font-size: 0.8rem;
}

/* Navbar component */
.navbar .navbar-nav .nav-item a.active {
  font-weight: 500;
  color: var(--green-color);
}

/* ---------- MAIN ---------- */
main {
  flex: 1;
}

/* Login page / Sign Up page */
.sing-up-page form,
.sing-in-page .sing-in-page-content,
.forgot-password-page .forgot-password-content {
  max-width: 700px;
  margin: 0 auto;
  box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.1);
}

.sing-up-page form .checkbox,
.sing-in-page-page-footer p,
.sing-in-page-page-footer a,
.forgot-password-page .forgot-password-footer p,
.forgot-password-page .forgot-password-footer a {
  font-size: 0.8rem;
}

/* Dashboard page */
.hero {
  max-width: 1500px;
  margin: 0 auto;
}

/* Hero component */
.hero .hero-img img {
  height: 800px;
  object-fit: cover;
}

/* Testimonials component */
.dashboard-page .testimonials .testimonials-carousel .swiper-content {
  box-shadow: var(--dark-shadow);
}

/* PetListings page */
/* SearchAndFilterOptions component */
.pet-listings-page .pet-listings-select-options .btn:hover,
.pet-listings-page .pet-listings-select-options .select-option {
  background-color: var(--light-green-color);
  color: #fff !important;
  font-weight: 500;
}

/* PetListingsFilterOption component */
.pet-listings-page .pet-listings-filter-option .form-label {
  font-size: 0.8rem;
}

/* SelectedPetListing page */
/* PetProfileImageBox component */
.selected-pet-listing-page .pet-profile-img img {
  max-height: 550px;
  width: 100%;
  object-fit: cover;
}

/* PetImagesGallery component */
.images-gallery {
  height: 500px;
  width: 100%;
}

/* Profile page */
.profile-page-options button:hover {
  background-color: var(--light-green-color);
}

.profile-page-options .selected-profile-page-options {
  background-color: var(--light-green-color);
  color: #fff;
}

/* PostNewPetListing component */
.post-new-listing .post-new-listing-form {
  box-shadow: var(--dark-shadow);
}

.form-btn,
.form-btn-active {
  font-size: 0.8rem;
  padding: 5px 10px;
  margin-right: 7px;
  border-radius: 5px;
}

.form-btn {
  background-color: #fff;
  border: 1px solid var(--light-green-color);
}

.form-btn-active {
  background-color: var(--light-green-color);
  border: 1px solid transparent;
  color: #fff;
}

.post-new-listing .post-new-listing-form .new-listing-btn-options button {
}

/* Forum page */
.forum-page .send-message-form form,
.forum-page .forum-messages-list .forum-message-card {
  box-shadow: var(--dark-shadow);
}

/* ForumMessageCard component  */
.forum-page .forum-messages-list .forum-message-card button {
  font-size: 0.6rem;
}

/* Contact page */
.contact-page form {
  background-color: #fff;
  box-shadow: var(--dark-shadow);
}

/* -------------------- APP (SHARED) COMPONENTS -------------------- */
/* PetListingGridViewCard component */
.pet-listing-card-details {
  box-shadow: var(--dark-shadow);
}

.pet-listing-card-details:hover {
  transform: scale(1.02);
  transition: transform 0.5s ease-in;
  box-shadow: var(--dark-green-shadow);
}

.pet-listing-card-details .pet-listing-card-details-header img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

/* ---------- FOOTER ---------- */
/* FooterNavLinks component */
footer .footer-nav-links ul li a:hover{
  color: var(--green-color) !important;
}

/* FooterSocialLinks component */
footer .footer-social-links .footer-social-link a{
  border-radius: 50%;
  border: 1px solid #fff;
}

footer .footer-social-links .footer-social-link a:hover {
  background-color: var(--green-color);
  transition: var(--transition-ease);
}
