/* BOOTSTRAP */
@import "/node_modules/bootstrap/dist/css/bootstrap.css";

/* GOOGLE FONT - POPPINS */
@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


/* ---------- GENERAL ---------- */
:root {
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
}

a{
  text-decoration: none;
}

.capitalize{
  text-transform: capitalize;
}

.btn:active{
  transform: scale(0.95);
}

/* -------------------- APP (SHARED) COMPONENTS -------------------- */

/* -------------------- APP COMPONENTS -------------------- */
/* ---------- HEADER ---------- */
header{
  background-color: rgb(39, 201, 39);
}

/* Onboarding component */
.onboarding .onboarding-btn{
  font-size: 0.8rem;
}

/* Navbar component */
.navbar .navbar-nav .nav-item a.active{
  font-weight: 500;
  color: green;
} 

/* ---------- MAIN ---------- */
main {
  flex: 1;
}

/* Login page / Sign Up page */
.sing-up-page form,
.sing-in-page .sing-in-page-content,
.forgot-password-page .forgot-password-content{
  max-width: 700px;
  margin: 0 auto;
  box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.1);
}

.sing-up-page form .checkbox,
.sing-in-page-page-footer p,
.sing-in-page-page-footer a,
.forgot-password-page .forgot-password-footer p,
.forgot-password-page .forgot-password-footer a{
  font-size: 0.8rem;
}



/* ---------- FOOTER ---------- */
